<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Randall Luecke</string>
	<key>CFBundleDisplayName</key>
	<string>PrettyIssues</string>
	<key>CFBundleIdentifier</key>
	<string>com.rclconcepts.prettyissues</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>GlobalWindow.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>GoToGitHub</string>
				<key>Identifier</key>
				<string>GitHubIssues</string>
				<key>Image</key>
				<string>GitHubLogo.png</string>
				<key>Label</key>
				<string>GitHub Issues</string>
				<key>Palette Label</key>
				<string>GitHub Issues</string>
				<key>Tool Tip</key>
				<string>Use the Cappuccino Issues App</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injector.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Open GitHub issue URLs in the GitHub Issues application.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.github.com</string>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://github.com/me1000/PrettyIssues</string>
</dict>
</plist>
